// TODO get rid of scss 
.header {
    display: flex;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    height: 100px;
    background-color: #415889;
    &__inner {
      margin: 0 auto;
       width: 940px;
       color: #fff;
       display: flex;
    justify-content: space-between;
    }
    &__menu {
      font-family: monospace;
    }
  }
  .header__inner{
    align-items: center;
  }
.header .logo {
  display: flex;
  align-items: center;
  font-family: monospace;
  color: #fff;
  text-decoration: none;
}
.logo__image {
  width: 70px;
}
